<?xml version="1.0" encoding="UTF-8" ?> 
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.appsys.dao.AppInfoMapper">
	
	<select id="appList" resultType="AppInfo">
		SELECT 	app_info.id,softwareName,APKName,softwareSize,flatformId,d1.valueName AS flatformName,categoryLevel1,a1.categoryName AS categoryLevel1Name,categoryLevel2,a2.categoryName AS categoryLevel2Name,categoryLevel3,a3.categoryName AS categoryLevel3Name,STATUS,d2.valueName AS statusName,downloads,versionId,versionNo FROM app_info 
		INNER JOIN data_dictionary  AS d1 ON d1.valueId = app_info.flatformId
		INNER JOIN data_dictionary AS d2 ON d2.valueId = app_info.status
		INNER JOIN app_category AS a1 ON a1.id =app_info.categoryLevel1
		INNER JOIN app_category AS a2 ON a2.id =app_info.categoryLevel2
		INNER JOIN app_category AS a3 ON a3.id =app_info.categoryLevel3
		LEFT JOIN app_version ON app_version.id = app_info.versionId
 	
		where	d1.typeName='所属平台' AND d2.typeName='APP状态'
			
			<if test="softwareName!=null and softwareName!=''">
				and softwareName like concat('%',#{softwareName},'%')
			</if>
			<if test="STATUS!=0">
				and STATUS = #{STATUS}
			</if>
			<if test="flatformId!=0">
				and flatformId = #{flatformId}
			</if>
			<if test="categoryLevel1!=0">
				and categoryLevel1 =#{categoryLevel1}
			</if>
			<if test="categoryLevel2!=0">
				and categoryLevel2 =  #{categoryLevel2}
			</if>
			<if test="categoryLevel3!=0">
				and categoryLevel3 = #{categoryLevel3}
			</if>
			limit #{index},#{pageSize}
	</select>
	
	<select id="selectAppCount" resultType="int">
		SELECT COUNT(1) AS count FROM app_info
		INNER JOIN data_dictionary  AS d1 ON d1.valueId = app_info.flatformId
		INNER JOIN data_dictionary AS d2 ON d2.valueId = app_info.status
		INNER JOIN app_category AS a1 ON a1.id =app_info.categoryLevel1
		INNER JOIN app_category AS a2 ON a2.id =app_info.categoryLevel2
		INNER JOIN app_category AS a3 ON a3.id =app_info.categoryLevel3
		LEFT JOIN app_version ON app_version.id = app_info.versionId
 	
		where	d1.typeName='所属平台' AND d2.typeName='APP状态'
			
			<if test="softwareName!=null and softwareName!=''">
				and softwareName like concat('%',#{softwareName},'%')
			</if>
			<if test="STATUS!=0">
				and STATUS = #{STATUS}
			</if>
			<if test="flatformId!=0">
				and flatformId = #{flatformId}
			</if>
			<if test="categoryLevel1!=0">
				and categoryLevel1 =#{categoryLevel1}
			</if>
			<if test="categoryLevel2!=0">
				and categoryLevel2 =  #{categoryLevel2}
			</if>
			<if test="categoryLevel3!=0">
				and categoryLevel3 = #{categoryLevel3}
			</if>
	</select>
	
	<!-- 查询apk名是否存在 -->
	<select id="selectDevByName" resultType="AppInfo">
		SELECT 	id,APKName FROM app_info where APKName=#{APKName}
	</select>
	
	<!-- 添加App -->
	<insert id="addAppInfo" parameterType="AppInfo">
		INSERT INTO app_info (softwareName,APKName,supportROM,status,interfaceLanguage,softwareSize,devId,downloads,createdBy,creationDate,flatformId,categoryLevel1,categoryLevel2,categoryLevel3,appInfo,logoPicPath,logoLocPath)
		VALUES(#{softwareName},#{APKName},#{supportROM},#{status},#{interfaceLanguage},#{softwareSize},#{devId},#{downloads},#{createdBy},#{creationDate},#{flatformId},#{categoryLevel1},#{categoryLevel2},#{categoryLevel3},#{appInfo},#{logoPicPath},#{logoLocPath})
	</insert>
	
	
	<!-- 根据id查询 -->
	<select id="selectAppById" resultType="AppInfo">
		SELECT 	app_info.id,softwareName,APKName,supportROM,interfaceLanguage,softwareSize,downloads,categoryLevel1,categoryLevel2,categoryLevel3,valueName AS statusName,appInfo,logoPicPath,logoLocPath FROM app_info
		INNER JOIN data_dictionary ON data_dictionary.valueId=app_info.status
		WHERE typeName='APP状态' AND app_info.id=#{id}
	</select>

</mapper>